
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    background-color: whitesmoke;
    width: 95%;
    margin: auto;
    height: fit-content;
}

header {
    height: 200px;
    width: 100%;
    background-color: rgb(39, 40, 48);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: end;


    img {
        position: absolute;
        width: 400px;
        left: 5%;
        top: 4%;
    }

    #dugme {
        padding: 10px;
        border-radius: 5px;
        background-color: rgba(49,113,165,255);
        color: white;
        margin: 5px;


        &:hover {
            cursor: pointer;
        }
    }

    ul {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: end;

        li {
            color: white;
            list-style: none;
        }

        li:hover {
            color: rgba(49,113,165,255);
            
            cursor: pointer;
        }

    }

}

.prva_sekcija {
    height: 400px;
    background-color: rgba(49,113,165,255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    #prvi_p {

        padding: 0;
        margin: 0;
        font-size: 55px;
        color: white;
        text-align: center;
        vertical-align: middle;

    }

    #drugi_p {

        padding: 0;
        margin: 0;
        font-size: 18px;
        color: white;
        text-align: center;


    }

}

.druga_sekcija {
    width: 100%;
    background-color: rgb(207, 207, 207);
    height: fit-content;



    p {
        margin: 0;
        color: rgb(99, 99, 99);
        font-weight: bold;
        padding: 8px;
        margin-left: 20px;



    }
}

.sekcija_tri {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
   
    width: 95.5%;
    margin: auto;
    border: 2px solid rgb(219, 219, 219);
    margin-top: 30px;
    ul {
       
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: end;

        #gear{
            font-weight: 900;
            
        }
      .fake-broj{

        padding-left: 10px;
        padding-right: 10px;
        border-radius: 12px;
        color: white;
        background-color:rgb(99, 99, 99);
      }
        li {
            color: rgb(99, 99, 99);
            list-style: none;
            margin-left: 10px;
        }


    }
#search-bar{
    margin-right: 20px;
    border: 2px solid rgb(219, 219, 219);
    font-size: 16px;
    border-radius: 5px;
    padding: 2px;
}
}

.sekcija_4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
   
    
    padding: 30px;

    .card{
        width: 490px;
        height: fit-content;
        background-color: whitesmoke;
        border: 2px solid rgb(219, 219, 219);

        p{
            margin-left: 10px;
        }
        img{
            width: 100%;

        }
    }
}

main{
    width: 80%;
    margin: auto;
}
table{
    background-color: aqua;
    font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
   
  td, th, tr{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

}

tr:nth-child(even) {
    background-color: #ffffff;
  }

